<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />

    <title>Sentiment Analysis</title>
  </head>
  <body>
    <form action="/sub" method="post">
      <label for="" class="label">Enter the Text</label>
      <br />
      <br />

      <input
        class="text"
        type="text"
        placeholder="Text"
        value="{{ d }}"
        name="data"
        autofocus
        required
      />
      <br />
      <br />

      <button type="submit" class="btn">Submit</button>
    </form>
    <div class="result">{% block result %}{% endblock %}</div>
  </body>
</html>
